#ifndef _SECRET_H_
#define _SECRET_H_

#define STASSID "SSID"
#define STAPSK "PASSWORD"

#define MQTT_SERVER "mqtt.example.com"
#define MQTT_USER "USER"
#define MQTT_PASSWORD "PASSWORD"
#define MQTT_PORT 1883
#define MQTT_TOPIC "TOPIC"

#endif
